{% trans_default_domain 'FOSUserBundle' %}
<div class="paper-block">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="row mb-2">
        <div class="input-group col-md-6">
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password,  { 'attr': {'class': 'form-control', 'placeholder': 'form.current_password' }}) }}
        </div>

        <div class="input-group col-md-6">
            {{ form_errors(form.plainPassword['first']) }}
            {{ form_widget(form.plainPassword['first'],  { 'attr': {'class': 'form-control', 'placeholder': 'Powtórz Hasło' }}) }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="input-group col-md-12">
            {{ form_errors(form.plainPassword['second']) }}
            {{ form_widget(form.plainPassword['second'],  { 'attr': {'class': 'form-control', 'placeholder': 'Powtórz Hasło' }}) }}
        </div>
    </div>

    <div class="text-center"><br>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-lg" />
    </div>
{{ form_end(form) }}
</div>